In [3]:
import pandas as pd
dataset1=pd.read_csv('all_seasons.csv')
dataset1

,Unnamed: 0,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,...,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season
0,0,Randy Livingston,HOU,22.0,193.04,94.800728,Louisiana State,USA,1996,2,...,3.9,1.5,2.4,0.3,0.042,0.071,0.169,0.487,0.248,1996-97
1,1,Gaylon Nickerson,WAS,28.0,190.50,86.182480,Northwestern Oklahoma,USA,1994,2,...,3.8,1.3,0.3,8.9,0.030,0.111,0.174,0.497,0.043,1996-97
2,2,George Lynch,VAN,26.0,203.20,103.418976,North Carolina,USA,1993,1,...,8.3,6.4,1.9,-8.2,0.106,0.185,0.175,0.512,0.125,1996-97
3,3,George McCloud,LAL,30.0,203.20,102.058200,Florida State,USA,1989,1,...,10.2,2.8,1.7,-2.7,0.027,0.111,0.206,0.527,0.125,1996-97
4,4,George Zidek,DEN,23.0,213.36,119.748288,UCLA,USA,1995,1,...,2.8,1.7,0.3,-14.1,0.102,0.169,0.195,0.500,0.064,1996-97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12839,12839,Joel Embiid,PHI,29.0,213.36,127.005760,Kansas,Cameroon,2014,1,...,33.1,10.2,4.2,8.8,0.057,0.243,0.370,0.655,0.233,2022-23
12840,12840,John Butler Jr.,POR,20.0,213.36,86.182480,Florida State,USA,Undrafted,Undrafted,...,2.4,0.9,0.6,-16.1,0.012,0.065,0.102,0.411,0.066,2022-23
12841,12841,John Collins,ATL,25.0,205.74,102.511792,Wake Forest,USA,2017,1,...,13.1,6.5,1.2,-0.2,0.035,0.180,0.168,0.593,0.052,2022-23
12842,12842,Jericho Sims,NYK,24.0,208.28,113.398000,Texas,USA,2021,2,...,3.4,4.7,0.5,-6.7,0.117,0.175,0.074,0.780,0.044,2022-23
12843,12843,JaMychal Green,GSW,33.0,205.74,102.965384,Alabama,USA,Undrafted,Undrafted,...,6.4,3.6,0.9,-8.2,0.087,0.164,0.169,0.650,0.094,2022-23

In [5]:
import pandas as pd
dataset2=pd.read_csv('bank-full.csv')
dataset2

      age;"job";"marital";"education";"default";"balance";"housing";"loan";"contact";"day";"month";"duration";"campaign";"pdays";"previous";"poutcome";"y"
0      58;"management";"married";"tertiary";"no";2143...
1      44;"technician";"single";"secondary";"no";29;"...
2      33;"entrepreneur";"married";"secondary";"no";2...
3      47;"blue-collar";"married";"unknown";"no";1506...
4      33;"unknown";"single";"unknown";"no";1;"no";"n...
...                                                  ...
45206  51;"technician";"married";"tertiary";"no";825;...
45207  71;"retired";"divorced";"primary";"no";1729;"n...
45208  72;"retired";"married";"secondary";"no";5715;"...
45209  57;"blue-collar";"married";"secondary";"no";66...
45210  37;"entrepreneur";"married";"secondary";"no";2...

[45211 rows x 1 columns]

In [6]:
print("Shape of dataset 1:", dataset1.shape)

Shape of dataset 1: (12844, 22)

In [7]:
print("Shape of dataset 2:", dataset2.shape)

Shape of dataset 2: (45211, 1)

In [8]:
print("Columns in dataset 1:", dataset1.columns)
print("Columns in dataset 2:", dataset2.columns)

Columns in dataset 1: Index(['Unnamed: 0', 'player_name', 'team_abbreviation', 'age',
       'player_height', 'player_weight', 'college', 'country', 'draft_year',
       'draft_round', 'draft_number', 'gp', 'pts', 'reb', 'ast', 'net_rating',
       'oreb_pct', 'dreb_pct', 'usg_pct', 'ts_pct', 'ast_pct', 'season'],
      dtype='object')
Columns in dataset 2: Index(['age;"job";"marital";"education";"default";"balance";"housing";"loan";"contact";"day";"month";"duration";"campaign";"pdays";"previous";"poutcome";"y"'], dtype='object')

In [9]:
print("Data types in dataset 1:\n", dataset1.dtypes)
print("\nData types in dataset 2:\n", dataset2.dtypes)

Data types in dataset 1:
 Unnamed: 0             int64
player_name           object
team_abbreviation     object
age                  float64
player_height        float64
player_weight        float64
college               object
country               object
draft_year            object
draft_round           object
draft_number          object
gp                     int64
pts                  float64
reb                  float64
ast                  float64
net_rating           float64
oreb_pct             float64
dreb_pct             float64
usg_pct              float64
ts_pct               float64
ast_pct              float64
season                object
dtype: object

Data types in dataset 2:
 age;"job";"marital";"education";"default";"balance";"housing";"loan";"contact";"day";"month";"duration";"campaign";"pdays";"previous";"poutcome";"y"    object
dtype: object

In [10]:
print("Missing values in dataset 1:\n", dataset1.isnull().sum())
print("\nMissing values in dataset 2:\n", dataset2.isnull().sum())

Missing values in dataset 1:
 Unnamed: 0              0
player_name             0
team_abbreviation       0
age                     0
player_height           0
player_weight           0
college              1854
country                 0
draft_year              0
draft_round             0
draft_number            0
gp                      0
pts                     0
reb                     0
ast                     0
net_rating              0
oreb_pct                0
dreb_pct                0
usg_pct                 0
ts_pct                  0
ast_pct                 0
season                  0
dtype: int64

Missing values in dataset 2:
 age;"job";"marital";"education";"default";"balance";"housing";"loan";"contact";"day";"month";"duration";"campaign";"pdays";"previous";"poutcome";"y"    0
dtype: int64

In [11]:
print("Summary statistics for dataset 1:\n", dataset1.describe())

Summary statistics for dataset 1:
          Unnamed: 0           age  player_height  player_weight            gp  \
count  12844.000000  12844.000000   12844.000000   12844.000000  12844.000000
mean    6421.500000     27.045313     200.555097     100.263279     51.154158
std     3707.887763      4.339211       9.111090      12.426628     25.084904
min        0.000000     18.000000     160.020000      60.327736      1.000000
25%     3210.750000     24.000000     193.040000      90.718400     31.000000
50%     6421.500000     26.000000     200.660000      99.790240     57.000000
75%     9632.250000     30.000000     208.280000     108.862080     73.000000
max    12843.000000     44.000000     231.140000     163.293120     85.000000

                pts           reb           ast    net_rating      oreb_pct  \
count  12844.000000  12844.000000  12844.000000  12844.000000  12844.000000
mean       8.212582      3.558486      1.824681     -2.226339      0.054073
std        6.016573      2.477885      1.800840     12.665124      0.043335
min        0.000000      0.000000      0.000000   -250.000000      0.000000
25%        3.600000      1.800000      0.600000     -6.400000      0.021000
50%        6.700000      3.000000      1.200000     -1.300000      0.040000
75%       11.500000      4.700000      2.400000      3.200000      0.083000
max       36.100000     16.300000     11.700000    300.000000      1.000000

           dreb_pct       usg_pct        ts_pct       ast_pct
count  12844.000000  12844.000000  12844.000000  12844.000000
mean       0.140646      0.184641      0.513138      0.131595
std        0.062513      0.053545      0.101724      0.094172
min        0.000000      0.000000      0.000000      0.000000
25%        0.096000      0.149000      0.482000      0.066000
50%        0.130500      0.181000      0.525000      0.103000
75%        0.179000      0.217000      0.563000      0.179000
max        1.000000      1.000000      1.500000      1.000000

In [12]:
print("Summary statistics for dataset 1:\n", dataset2.describe())

Summary statistics for dataset 1:
        age;"job";"marital";"education";"default";"balance";"housing";"loan";"contact";"day";"month";"duration";"campaign";"pdays";"previous";"poutcome";"y"
count                                               45211
unique                                              45211
top     37;"entrepreneur";"married";"secondary";"no";2...
freq                                                    1